.link-btn a {
    text-decoration: none;
    color: black;
}

.city-form {
    background: #cccccc;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.city-btn {
    margin-bottom: 10px;
}

#city-description {
    height: 150px;
}